<launch>
    <!-- pointCloud2 to Laserscan -->
    <include file="$(find unitree_move_base)/launch/pointCloud2LaserScan.launch"/>

    <!-- move_base -->
    <include file="$(find unitree_move_base)/launch/move_base.launch"/>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find unitree_move_base)/config/move_base.rviz"/>
</launch>